header, main, div, footer {
	background-color: gray;
}

header{
	padding:50px;
	margin: 30px 30px;
	border-style: solid;
	border-color: black;
	border-width: 2px

}

footer {
	clear: both;
	padding: 50px;
	margin: 30px;
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

.float-left {
	float: left;
	width: 19%;
	padding: 100px 200px 300px 100px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-style: solid;
	border-color: black;
	border-width: 2px
}

.float-right{
	float: right;
	width: -7%;
	padding: 100px 200px 300px 100px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	border-style: solid;
	border-color: black;
	border-width: 2px

}



